@page "/AddAppointment"
@using PlanMeisterWeb.Models
@using PlanMeisterWeb.Enum
@using System.Text.Json
@inject NavigationManager NavigationManager


<EditForm Model="Appointment" OnValidSubmit="HandleValidSubmit" OnInitialized="Initialize">
    <div class="form-group">
        <label for="title">Title:</label>
        <input id="title" name="title" class="form-control" @bind="@Appointment.Title" required />
        <ValidationMessage For="@(() => Appointment.Title)"/>
    </div>
    
    <div class="form-group">
        <label for="description">Description:</label>
        <input id="description" name="description" class="form-control" @bind="@Appointment.Description" required />
        <ValidationMessage For="@(() => Appointment.Description)"/>
    </div>
    
    <div class="form-group">
        <label for="appointment-type">Appointment Type</label>
        <select id="appointment-type" class="form-control" @bind="@Appointment.Type" required>
            @foreach (var value in Enum.GetValues(typeof(AppointmentType)))
            {
                <option value="@value">@value</option>
            }
        </select>
        <ValidationMessage For="@(() => Appointment.Type)"/>
    </div>
    
    <div class="form-group">
        <label for="date">From:</label>
        <input TValue="DateTime" id="date" name="date" class="form-control" type="datetime-local" @bind="Appointment.StartDateTime"/>
        
        <label for="time">Until:</label>
        <input TValue="DateTime" id="time" name="time" class="form-control" type="datetime-local" @bind="Appointment.EndDateTime"/>
    </div>
    
    <Check TValue="bool" @bind-Checked="@Appointment.Billable">Billable?</Check>

    <button type="submit" class="btn btn-primary">Add Appointment</button>
</EditForm>

@code
{
    private Models.Appointment Appointment = new Models.Appointment();
    
    private async Task AddAppointmentToApi()
    {
        var httpClient = new HttpClient();

        var addAppointment = new Models.Appointment
        {
            Title = Appointment.Title,
            Description = Appointment.Description,
            Type = Appointment.Type,
            StartDateTime = Appointment.StartDateTime,
            EndDateTime = Appointment.EndDateTime,
            Billable = Appointment.Billable,
            DayScheduleId = 1,
            EmployeeId = 1
        };
        
        var response = await httpClient.PostAsJsonAsync("http://localhost:5175/api/appointment", addAppointment);
        response.EnsureSuccessStatusCode();
        NavigationManager.NavigateTo("/weekschedule");

    // string responseContent = await response.Content.ReadAsStringAsync();
        // var appointmentId = JsonSerializer.Deserialize<int>(responseContent);
        //
        // return appointmentId;
    }
    
    private async void HandleValidSubmit()
    {
        await AddAppointmentToApi();
    }

}
